// Variables
$racing-green:#131d1c;
$black:#000000;
$black-pearl:#17191c;
$bunker:#212429;
$charcoal:#464646;
$lavender:#e6e6e8;
$nobel:#999999;
$ghost-white:#F9F9FB;
$mariner:#3C5A98;
$white:#ffffff;
$grey-suit:#929293;
$whisper:#EAEAEA;
$brown:#3c3c3c;
$grey-light:#f7f7f7;
